@media screen and (min-width: 35.5em) {}

@media screen and (min-width: 48em) {}

@media screen and (min-width: 64em) {}

@media screen and (min-width: 80em) {}

@import url("https://fonts.googleapis.com/css?family=Montserrat+Subrayada&display=swap");
:root {
    --blue-color: #228ed5;
}

body {
    margin-right: auto;
    margin-left: auto;
    width: 80vw;
    height: 100vh;
}

*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 1rem;
}

.orange {
    background: orange;
}

.blue {
    color: var(--blue-color);
}

.title {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 4em;
}

.title2 {
    font-family: "Montserrat Subrayada", sans-serif;
    font-size: 4em;
    display: block;
    width: 100%;
    padding: 0.3em 0;
    margin-bottom: 0.3em;
    color: #333;
    border-bottom: 1px solid #e5e5e5;
}

a {
    color: black;
    min-width: 100px;
}

a:hover {
    color: var(--blue-color);
}

.input--large {
    width: 70%;
    float: right;
}

.margin {
    margin-left: 2em;
    margin-bottom: 1em;
    width: 55%;
    display: block;
}

form.form-acces a.margin:last-child {
    background: rgb(223, 117, 20);
    color: white;
}

form.form-acces button.margin {
    background: var(--blue-color);
}

form.form-acces button.margin:hover {
    opacity: 0.8;
}

form.form-acces a.margin:last-child:hover {
    background: rgb(231, 160, 93);
}

form.form-acces a i,
form.form-acces button {
    padding: 0;
}

.content-rigth {
    text-align: right;
    width: var(--column-left);
}

.capitalize {
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}


/*buttons*/

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
}

.button-error {
    background: rgb(202, 60, 60);
}

.button-warning {
    background: rgb(223, 117, 20);
    color: white;
}

.button-secondary {
    background: rgb(66, 184, 221);
}


/***************** Modal *************************/

.wrap {
    padding: 40px;
    text-align: center;
}

.btn.btn-big {
    font-size: 18px;
    padding: 15px 20px;
    min-width: 100px;
}

.btn-close {
    color: #aaa;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}

.btn-close:hover {
    color: #919191;
}

.modal:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

.modal:target:before {
    display: block;
}

.modal:target .modal-dialog {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
    top: 20%;
}

.modal-dialog {
    background: #fefefe;
    border: #333 solid 1px;
    border-radius: 5px;
    margin-left: -200px;
    position: fixed;
    left: 50%;
    top: -100%;
    z-index: 11;
    width: 360px;
    -webkit-transform: translate(0, -500%);
    -ms-transform: translate(0, -500%);
    transform: translate(0, -500%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -moz-transition: -moz-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}

.modal-body {
    padding: 20px;
}

.modal-header,
.modal-footer {
    padding: 10px 20px;
}

.modal-header {
    border-bottom: #eee solid 1px;
}

.modal-header h2 {
    font-size: 20px;
}

.modal-footer {
    border-top: #eee solid 1px;
    text-align: right;
}

.float_rigth {
    float: right;
}


/*****************Fin Modal *************************/


/* This is a modifier class used when the content-head is inside a ribbon */

.content-head-ribbon {
    color: white;
}


/* This is the class used for the content sub-headers (<h3>) */

.content-subhead {
    color: #1f8dd6;
}

.content-subhead i {
    margin-right: 7px;
}


/* This is the class used for the dark-background areas. */

.ribbon {
    background: #fd6e6e;
    color: rgb(255, 255, 255);
}


/*
 * -- BASE STYLES --
 * Most of these are inherited from Base, but I want to change a few.
 */


/*
 * -- Layout Styles --
 */

.l-content {
    margin: 0 auto;
}

.l-box {
    padding: 0.5em 2em;
}


/*
 * -- MENU STYLES --
 * Make the menu have a very faint box-shadow.
 */

.pure-menu {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.10);
}

.pure-menu-link {
    padding: .5em .7em;
}


/*
 * -- BANNER --
 * The top banner with the headings. By using a combination
 * of `display: table;` and `display: table-cell;`, we can
 * vertically center the text.
 */

.banner {
    background: transparent url('http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg') 0 0 no-repeat fixed;
    text-align: center;
    background-size: cover;
    filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(src='http://24.media.tumblr.com/ccb268832580ac12951828a1c179de69/tumblr_mo2xbk8JUK1st5lhmo1_1280.jpg', sizingMethod='scale');
    height: 200px;
    width: 100%;
    margin-bottom: 3em;
    display: table;
}

.banner-head {
    display: table-cell;
    vertical-align: middle;
    margin-bottom: 0;
    font-size: 2em;
    color: white;
    font-weight: 500;
    text-shadow: 0 1px 1px black;
}


/*
 * -- PRICING TABLE WRAPPER --
 * This element wraps up all the pricing table elements
 */

.pricing-tables,
.information {
    max-width: 980px;
    margin: 0 auto;
}

.pricing-tables {
    margin-bottom: 3.125em;
    text-align: center;
}


/*
 * -- PRICING TABLE  --
 * Every pricing table has the .pricing-table class
 */

.pricing-table {
    border: 1px solid #ddd;
    margin: 0 0.5em 2em;
    padding: 0 0 3em;
}


/*
 * -- PRICING TABLE HEADER COLORS --
 * Choose a different color based on the type of pricing table.
 */

.pricing-table-free .pricing-table-header {
    background: #519251;
}

.pricing-table-biz .pricing-table-header {
    background: #2c4985;
}


/*
 * -- PRICING TABLE HEADER --
 * By default, a header is black/white, and has some styles for its <h2> name.
 */

.pricing-table-header {
    width: auto;
    background: #111;
    color: #fff;
}

.pricing-table-header h2 {
    margin: 0;
    padding-top: 2em;
    font-size: 1em;
    font-weight: normal;
}


/*
 * -- PRICING TABLE PRICE --
 * Styles for the price and the corresponding <span>per month</span>
 */

.pricing-table-price {
    font-size: 6em;
    margin: 0.2em 0 0;
    font-weight: 100;
}

.pricing-table-price span {
    display: block;
    text-transform: uppercase;
    font-size: 0.2em;
    padding-bottom: 2em;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    *color: #fff;
}


/*
 * -- PRICING TABLE LIST --
 * Each pricing table has a <ul> which is denoted by the .pricing-table-list class
 */

.pricing-table-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


/*
 * -- PRICING TABLE LIST ELEMENTS --
 * Styles for the individual list elements within each pricing table
 */

.pricing-table-list li {
    padding: 0.8em 0;
    background: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}


/*
 * -- PRICING TABLE BUTTON --
 * Styles for the "Choose" button at the bottom of a pricing table.
 * This inherits from Pure Button.
 */

.button-choose {
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    border-radius: 2em;
    font-weight: bold;
    position: relative;
    bottom: -1.5em;
}

.information-head {
    color: black;
    font-weight: 500;
}

.footer {
    background: #111;
    color: #888;
    text-align: center;
}

.footer a {
    color: #ddd;
}


/*
 * -- TABLET MEDIA QUERIES --
 * On tablets, we want to slightly adjust the size of the banner
 * text and add some vertical space between the various pricing tables
 */

@media(min-width: 767px) {
    .banner-head {
        font-size: 4em;
    }
    .pricing-table {
        margin-bottom: 0;
    }
}


/*
 * -- PHONE MEDIA QUERIES --
 * On phones, we want to reduce the height and font-size of the banner further
 */

@media (min-width: 480px) {
    .banner {
        height: 400px;
    }
    .banner-head {
        font-size: 3em;
    }
}


/* Buttons*/

.button-success,
.button-error,
.button-warning,
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.button-success {
    background: rgb(28, 184, 65);
    /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60);
    /* this is a maroon */
}

.button-warning {
    background: rgb(223, 117, 20);
    /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221);
    /* this is a light blue */
}