@import url('https://fonts.googleapis.com/css?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
:root {
    --primary-color:rgba(0, 156, 149, 1);
    --footer-height:100px;
}
html {
    font-family: 'Alata', sans-serif;
    padding: 3em;
    min-height: 100%;
    position: relative;
}
@media (min-height: 320px) {
    .ui.footer.form-page.primary-color {
      position: fixed;
      bottom: 0;
      left: 0;
      height: var(--footer-height);
      width: 100%;
      margin-top: var(--footer-height);
      background: var(--primary-color);
      z-index: 1000;
    }
  }
  .ui.link.cards {
    margin-bottom:calc(var(--footer-height) + 40px);
  }
#main {
    width: 100%;
    margin-left: 100px;
}
.title {
        font-family: 'Archivo Black', sans-serif black;
        text-align: left; 
        font-weight: bold;
        font-size: 120px; 
        background: #202020; 
        -webkit-background-clip: text; 
        -moz-background-clip: text; 
        background-clip: text; 
        color: transparent; 
        text-shadow: 0px 3px 3px rgba(255,255,255,0.4),0px -1px 1px var(--primary-color);   
}
    .ui.inverted.menu.primary-color {
    background: var(--primary-color);
}
h1 span.dolar {
    font-family: 'Abril Fatface', cursive;
    font-size:1.5em;
    background: var(--primary-color); 
    -webkit-background-clip: text; 
    -moz-background-clip: text; 
    background-clip: text; 
    color: transparent; 
    text-shadow: 5px 5px 10px rgba(255,255,255,0.4),0px -1px 1px whitesmoke;
}